body {
  font-family: "Montserrat";
  background: url("img/bg.png") center / contain no-repeat;
}
.bg-light {
  background-color: transparent !important;
}
.container {
  margin-top: 3rem;
}
.navbar-brand {
  padding-left: 60px;
}
.navbar-brand img {
  width: 200px;
}
nav.navbar.navbar-light.bg-light {
  top: 25px;
}

.loginForm {
  width: 100%;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 0 10px 40px 0 rgba(105, 148, 214, 0.15);
  padding: 85px 60px 60px 60px;
}
.resetLink {
  text-decoration: none;
  color: black;
  font-weight: 500;
  letter-spacing: 0.8px;
}
.submitbtn {
  background: #ff6b00;
  color: #fff;
  font-weight: bold;
}
.rightDiv {
  background: url(./img/Image.png) center / contain no-repeat, url(./img/Violet-BG.png) center no-repeat;
  transform: skew(-10deg);
  display: inline-block;
  /* float: left; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  /* top: 81px; */
}
.rightContent {
  padding: 60px 40px 60px 40px;
  color: #fff;
}
.rightContent h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  color: #333231;
  letter-spacing: 0.6px;
}
.card-subtitle {
  font-size: 16px;
  color: #333231;
}
form {
  font-size: 13px;
  color: #666666;
}
.form-control {
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: -3px;
  height: calc(1.9em + 0.75rem + 2px);
}
.card-body {
  padding: 0;
}
img.img-fluid.rounded.rounded-circle.img-thumbnail {
  width: 50px;
  height: 50px;
}
label {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1px;
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid #f8f9fa;
  opacity: 0.2;
}
.card {
  border: none;
}
button.form-control.submitbtn {
  font-size: 14px;
  font-weight: 600;
}
::placeholder {
  color: #d0d0d0 !important;
}
.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #ced4da;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}
@media (min-width: 576px) {
  .loginForm {
    width: 24rem;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 10px 40px 0 rgba(105, 148, 214, 0.15);
    padding: 85px 60px 60px 60px;
    left: 80px;
  }
}
